
/* Estilos mantidos */
body {
    font-family: Arial, sans-serif;
    background: #f4f4f9;
    margin: 0;
    padding: 0;
    max-width: 800px; /* Limita o tamanho máximo */
    margin: 0 auto; /* Centraliza o conteúdo */
    overflow-x: hidden; /* Evita rolagem horizontal */
}

form {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    
    padding: 0px;


}

header {
    background: #6200ea;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

main {
    max-width: 800px; /* Limita o tamanho máximo */
    margin: 20px auto; /* Centraliza horizontalmente */
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

textarea,
input {
    max-width: 100%; /* Ocupa toda a largura disponível */
   
    margin-top: 10px;
    
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: auto;
    background: #6200ea;
    color: #fff;
    border: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

#microfoneBtn {
    background-color: #6200ea;
    background-image: url("img/Mic_PT_BC.png");
    background-size:contain;
    border: none;
    color: white;
    padding: 20px;
    border-radius: 50%;
    font-size: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    /* Empurra o botão para a direita */
}

#microfoneBtn:hover {
    opacity: 0.8;
    /* Efeito de hover */
}


button:hover {
    background: #3700b3;
}

.reflexoes {
    margin-top: 20px;
    padding: 10px;
    /*border: 1px solid #ccc;*/
   
}

.reflexoes a {
    font-size: 14px; /* Reduz o tamanho da fonte para dispositivos menores */
    word-wrap: break-word; /* Evita estouro de texto */
}

a {
    color: #6200ea;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@keyframes pulse {

    /* Coloque a animação aqui */
    0% {
        transform: scale(1);
        opacity: 0.5;
    }

    50% {
        transform: scale(1.1);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0.5;
    }
}

@media (max-width: 768px) {
    main {
        padding: 10px;
    }

    #botoes-esquerda {
        flex-direction: column; /* Alinhar botões verticalmente */
        gap: 10px;
    }

    #microfoneBtn {
        margin: 10px auto; /* Centraliza o botão do microfone */
    }
}


.captando {
    /* Coloque o estilo que usa a animação aqui */
    animation: pulse 1s infinite;
}

#mic {
        
    padding: 10px;
    max-width: 100%;
    display:flex;
    /* Ativa o Flexbox */

    /* Distribui o espaço entre os itens */
}

#botoes-esquerda {
    display: flex;
    /* Ativa o Flexbox para os botões da esquerda */
    gap: 10px;
    /* Define o espaçamento entre os botões da esquerda */
}
